h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
body{
    background-color: blue;
}
.container{
    display: flex;
}
h3{
    height: 25px;
    width: 300px;
}
a{
    color: white;
}
.Any_worldpeace{
    display: flex;
    justify-content: space-around;
}
.darkside_darkerside{
    display: flex;
    justify-content: space-around;
}
.Allmoons_100{
    display: flex;
    justify-content: space-around;
}
.top{
    display: flex;
    justify-content: space-evenly;
}
.speedrun_com{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
}