h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
body{
    background-color: blue;
}
.container{
    display: flex;
}
h3{
    height: 25px;
    width: 300px;
}
a{
    color: white;
}
.Any_worldpeace{
    display: flex;
    justify-content: space-around;
}
.darkside_darkerside{
    display: flex;
    justify-content: space-around;
}
.Allmoons_100{
    display: flex;
    justify-content: space-around;
}
.top{
    display: flex;
    justify-content: space-evenly;
}
.speedrun_com{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
}
.mw-parser output .sr-only{
    border:0;
    clip:rect(0,0,0,0);
    height: 1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
    white-space: nowrap;
}
table{
    justify-content: center;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    height: 500px;
    width: 700px;   
}
th,td{
    border: 1px solid white;
    border-collapse: collapse;
}

.season_12{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.season_34{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.season_56{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.trailers{
    display: flex;
    flex-direction: column;
}
